body {
  margin: 0;
  font-family: 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  

}
.main{
  display: flex;
  border: blue solid 2px;
  justify-content: space-between;
  margin: 10%;
  margin-bottom: 0%;
  align-items: center;
  
  
}
.main button{
  width: 50px;
  height: 40px;
margin-right: 20px;
}

.main h1{
  margin-left: 2%;
}
/* list box */
.list ul li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  color: gray;
  
}
.list ul li {
  list-style: none;
  margin: 20px;
}
.list ul{
  display: flex;
}
.list{
  margin: 0;
}
/* Main heading styling */
.header{
  background-color: white;
  width: 80%;
  margin-left: 10%;
}
.list{
  margin-left: 25%;
}
.list ul li a:hover{
  color: black  ;
}
/* Add Form Styling */

.form-control input{
  width: 150px;
  height: 20px;
  margin: 5px 10px;
}